.cloud-bg { 
     background-image: url("../images/skyclouds-340.jpg") !important;
     background-size:cover;
    }
.row {
    display:flex;
    flex-wrap:wrap;
}

h1 {
    font-family: 'Shrikhand', cursive;
}

p {
    font-family: 'Shrikhand', cursive;
}

td {
    font-family: 'Shrikhand', cursive;
}

div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
}

div.row {
    position: center;
}


.em-text {
    
   /* color: #1caa98 ! important;*/
}

section {
    
    padding: 40px 0px; }
    
    img.demo {
    padding:3px;
    border: 1px solid #ccc;
    border-radius: 5%;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 500px) {
    .jumbotron {height: 450px !important;
background-size: 100% 100%;
background-image: none;
text-align: center;
}
}

@media (min-width: 768px) and (max-width: 990px) {
    .jumbotron img.app-btn {
width: 30%;}
}


